<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>To-do List</title>
    <!-- Link CSS file -->
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Favicon Link -->
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
  </head>

  <body>
      
